
<% flash.each do |key, value| %>
    <script>
        Materialize.toast("<%= value %>", 4000)
    </script>
<% end %>

<p>
    <div style="font-size:30px;">
        募集
    </div>
    <div style="font-size: 13px;">
      <%= @invitation.type_name %>
    </div>
</p>
<div class="divider"></div>
<div class="section">
  <h5>名前</h5>
  <p><%= @invitation.name %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>募集者名</h5>
  <p><%= @invitation.user_name %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>メモ</h5>
  <p><%= @invitation.note %></p>
</div>
<% if user_signed_in? %>
    <div class="divider"></div>
    <div class="section">
      <h5>投票する</h5>
      <%= form_for(InvitationVote.new,:url=>{:controller=>'invitation_vote', :action=>'create', :method=>'post'}) do |f| %>
          <%= f.hidden_field :invitation_id, :value=>@invitation.id %>
          <%= f.hidden_field :user_id, :value=>current_user.id %>
          <%= f.submit %>
      <% end %>
    </div>
<% else %>
    <div class="divider"></div>
    <div class="section">
      <h5>投票する</h5>
      <button class="waves-effect waves-light btn disabled" onclick="Materialize.toast('ログインしてください', 4000)">投票</button>
    </div>
<% end %>
<div class="divider"></div>
<div class="section">
  <h5>投票</h5>
  <%@users.each_with_index do |user, i| %>
      <p>
        <%= i + 1 %>:<%= user.name %>
      </p>
  <% end %>
</div>

