<p><h2>提供</h2></p>
<div class="divider"></div>
<div class="section">
  <h5>名前</h5>
  <p><%= @provision.name %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>提供者名</h5>
  <p><%= @provision.user_name %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>メモ</h5>
  <p><%= @provision.note %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>募集候補</h5>
  <%@candidates.each_with_index do |candidate, i| %>
      <p>
        <%= i + 1 %>:<%= link_to candidate.name, candidate_path(candidate.id) %>
        <%= candidate.vote %>
      </p>
  <% end %>
</div>
