<p><h2>応募</h2></p>
<div class="divider"></div>
<div class="section">
  <h5>名前</h5>
  <p><%= @candidate.name %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>応募先</h5>
  <p><%= link_to @candidate.provision_name, provision_path(@candidate.provision_id) %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>応募者</h5>
  <p><%= @candidate.user_name %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>メモ</h5>
  <p><%= @candidate.note %></p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>投票する</h5>
  <%= form_for(CandidateVote.new,:url=>{:controller=>'candidate_vote', :action=>'create', :method=>'post'}) do |f| %>
      <%= f.hidden_field :candidate_id, :value=>@candidate.id %>
      <%= f.hidden_field :user_id, :value=>current_user.id %>
      <%= f.submit %>
  <% end %>
</div>
<div class="divider"></div>
<div class="section">
  <h5>投票</h5>
  <%@users.each_with_index do |user, i| %>
      <p>
        <%= i + 1 %>:<%= user.name %>
      </p>
  <% end %>
</div>
